[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/OshadhiVimarsha/Library-Api-Gateway.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/OshadhiVimarsha/Library-Service-Registry.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/OshadhiVimarsha/Library-Config-Server.git
